*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
    /* display: flex;
    flex-direction: column; */
}
.navbar{
    width: 100%;
    height: 67.484px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    background-color: white;
}
.navbar .container{
    height: 100%;
    margin: 0 375.5px;
    display: flex;
    justify-content: space-between;

}
.navbar .container .icon{
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar .container .links{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 45px;
}
.navbar .container .icon img{
    width: auto;
    height: 17px;
}
.navbar .container .links a{
    text-decoration: none;
    font-size: 14px;
    color: darkgrey;
    font-weight: light;
    font-size: 15px;
    font-weight: normal;
}

.navbar .container .links .menu-icon{
    display: flex;
    flex-direction: column;
    width: 17px;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}
.navbar .container .links .menu-icon .line{
    width: 100%;
    height: 2px;
    background-color: darkgrey;
    margin: 2px 0;
    border-radius: 13px;
}
.navbar .container .links a:hover {
    color: rgb(49, 120, 187)
}

.homepage .landing-page{
    margin-top: 53.1px;
    padding-bottom: 120px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}
.homepage .landing-page img{
    width: 50%;
    height: auto;
    display: block;
}
.homepage .landing-page div h2{
    font-size: 48px;
    color: rgb(100, 98, 98);
    margin-bottom: 40px;
}
.homepage .landing-page div h5{
    font-size: 20px;
    color: rgb(100, 98, 98);
    margin-bottom: 20px;

}
.homepage .landing-page button{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 6px;
    background-color: rgb(49, 120, 187);
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.homepage .landing-page button:hover{
    background-color: rgb(0, 0, 0);
}